DJANGO_SETTINGS_MODULE=simple_crm.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://simple_crm:password@db:5432/simple_crm
# DATABASE_URL=sqlite:///backend/db.sqlite3
